<h5>
	Edit weapon
	</h5>

<form ng-model="weapon">
    <div class="form-group">
        <label for="tagName">Tag name:</label>
        <input id="tagName" class="form-control" ng-model="weapon.tagName">
    </div>

    <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" class="form-control" ng-model="weapon.name">
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <input id="description" class="form-control" ng-model="weapon.description">
    </div>
    <div class="form-group">
        <label for="category">Category:</label>
        <select id="category" class="form-control" ng-model="weapon.weaponCategory" ng-options="category.name for category in categories"></select>
    </div>
    
<button class="btn btn-primary pull-right" ng-click="edit(weapon)">Submit</button>
</form>

<br />
<hr />

